#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  width: 85%;
  height: 100vh;
}

.text {
  padding: 0;
  margin: 0;
}

.orange-text {
  color: #D73F09;
}

.h1-text {
  
}

.p-text {
  font-size: 16px;
}

.italic-text {
  font-style: italic;
}

.bold-text {
  font-weight: bold;
}

/* Home.tsx-exclusive */
.title-text {
  font-size: 36px;
}

.subtitle-text {
  font-size: 24px;
  margin-bottom: 1rem;
}

.website-description {
  font-size: 18px;
  margin-bottom: 2rem;
}
/* ------------------ */

/* Checklist.tsx-exclusive */
.checklist-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.checkbox {
  accent-color: #D73F09;
}
/* ----------------------- */

/* Checkbox.tsx-exclusive */
.checkbox-unchecked {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  margin-right: 0.5rem;
  border-radius: 4px;
  border: 1px solid #080807;
}

.checkbox-checked {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  margin-right: 0.5rem;
  border-radius: 4px;
  background-color: #D73F09;
  border: 1px solid #D73F09;
}

.check-icon {
  width: 15px;
  height: 15px;
}

/* Calculate button-exclusive */
.calculate-button-div {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.calculate-button {
  background-color: #D73F09;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 24rem;
}

/* Footer.tsx-exclusive */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.footer-text {
  font-size: 14px;
}